<app-top></app-top>

<!-- 하단 내용(S) -->
<div class="page-container">

    <!-- 내용(S) -->
    <div class="page-content">

        <!-- 하단 왼쪽내용(S) -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- 사용자정보(S) -->
                <app-profile></app-profile>
                <!-- 사용자정보(E) -->


                <!-- 왼쪽 네비게이션(S) -->
                <app-left></app-left>
                <!-- 왼쪽 네비게이션(E) -->

            </div>
        </div>
        <!-- 하단 왼쪽내용(S) -->

        <!-- 하단 오른쪽 내용(S) -->
        <div class="content-wrapper">

            <!-- 페이지 헤더(S) -->
            <app-page-header></app-page-header>
            <!-- 페이지 헤더(E) -->

            <!-- 컨텐츠 내용(S) -->
            <div class="content">

                <!-- Main charts -->
                <app-content></app-content>
                <!-- /main charts -->

                <!-- Footer -->
                <app-footer></app-footer>
                <!-- /footer -->

            </div>
            <!-- 컨텐츠 내용(E) -->

        </div>
        <!-- 하단 오른쪽 내용(E) -->

    </div>
    <!-- 내용(E) -->

</div>
<!-- 하단 내용(E) -->