<!--상단 네비게이션(S)-->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/public-resource/images/wisebird_logo.png"/></a>
    </div>
    <ul class="nav navbar-nav">
        <!--<li>정보1</li>
        <li>정보2</li>-->
    </ul>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            <li>사용자</li>
            <li>logOut</li>
        </ul>
    </div>
</div>
<!--상단 네비게이션(E)-->