<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <aside>
            <ul id="navigationId" class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu"
                                                                   title="Main pages"></i></li>
                <li id="dashboard" [ngClass]="''">
                    <a routerLink="/dashboard" (click)="activeMenu('dashboard')"><i
                            class="icon-home4"></i><span>포인트 & 경비정산</span></a>
                </li>
                <li id="heroes" [ngClass]="''">
                    <a routerLink="/heroes" (click)="activeMenu('heroes')"><i class="icon-stack2"></i>
                        <span>Page layouts</span></a>
                </li>
                <li id="nested" [ngClass]="''">
                    <a routerLink="/nested" (click)="activeMenu('nested')"><i class="icon-stack2"></i>
                        <span>계층구조(부모-자식)</span></a>
                </li>
                <li id="viewchild" [ngClass]="''">
                    <a routerLink="/viewchild" (click)="activeMenu('viewchild')"><i class="icon-stack2"></i>
                        <span>자식엘리먼트얻기</span></a>
                </li>
                <li id="contentchild" [ngClass]="''">
                    <a routerLink="/contentchild" (click)="activeMenu('contentchild')"><i class="icon-stack2"></i>
                        <span>자식상태얻기</span></a>
                </li>
                <li id="promise" [ngClass]="''">
                    <a routerLink="/promise" (click)="activeMenu('promise')"><i class="icon-stack2"></i>
                        <span>promise</span></a>
                </li>
                <li id="test" [ngClass]="''">
                    <a routerLink="/test" (click)="activeMenu('test')"><i class="icon-stack2"></i>
                        <span>Test</span></a>
                </li>
                <!-- /main -->
            </ul>
        </aside>
    </div>
</div>